.aaa {
    h1 {
        font-size: 25px;
    }
}

h1 {
    font-size: 30px;
}

.dropdown {
    position: absolute;
    top: 50px;
    display: none;
}

.dropdownUL:hover .dropdown {
    display: block;
    transition: 2s all;
}

.productioncamera {
    background-color: #ddf1f5;
    border-radius: 1rem;
}

.fwbolder {
    font-weight: 600 !important;
}


.btn-extra-lite-darkyellow {
    color: #526276;
    background-color: #FFEDE2;
    transition: all 0.4s;

    &:hover {
        background-color: #e4c0a7;
    }
}

.btn-extra-lite-darkblue {
    color: #526276;
    background-color: #EBFAFD;
    transition: all 0.4s;

    &:hover {
        background-color: #a1c9d1;
    }
}

.btn-extra-lite-darkgreen {
    color: #526276;
    background-color: #EAFCF4;
    transition: all 0.4s;

    &:hover {
        background-color: #96beac;
    }
}

.btn-extra-lite-DarkElectricBlue {
    color: #526276;
    background-color: #E5E9FA;
    transition: all 0.4s;

    &:hover {
        background-color: #929bc2;
    }
}

.resultsmulticard {
    height: 250px;
    -o-object-fit: cover;
    object-fit: cover;

    @media (max-width: 1280px) {
        height: 205px;
    }

    @media (max-width: 768px) {
        height: 230px;
    }

    @media (max-width: 576px) {
        height: 190px;
    }
}

.resultstextcard {
    position: absolute;
    bottom: 25px;
    left: 35px;

    @media (max-width: 1280px) {
        bottom: 15px;
        left: 28px;

        .card-head {
            font-size: 24px;
            line-height: 35px;
        }
    }

    @media (max-width: 576px) {
        .card-head {
            font-size: 22px;
        }
    }
}

.camerapro {
    height: 400px;

    .cameraproimg {
        height: 370px;
    }

    @media (max-width: 1280px) {
        height: 345px;

        .cameraproimg {
            height: 100%;
        }
    }
}

.locationsProjectsimg {
    -o-object-fit: cover;
    object-fit: cover;
    height: 450px;

    @media (max-width: 1280px) {
        height: auto;
    }

    @media (max-width: 768px) {
        height: 265px;
    }
}

.ChairCamera {
    margin-top: -120px;

    @media (max-width: 1280px) {
        margin-top: -50px;
    }

    @media (max-width: 576px) {
        margin-top: -30px;
    }
}

.DiscountsCard {
    height: 100px;
    -o-object-fit: cover;
    object-fit: cover;

}

.discountsicon-icon {
    width: 40px;

    @media (max-width: 576px) {
        width: 30px;
    }
}

.dicountcard-text {
    @media (max-width: 576px) {
        font-size: 20px;
    }
}


.bookingsOffer {

    .bookingsOfferimg {

        height: 310px;
        margin-top: -120px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
}


.profilecardimg {

    height: 90px;
    width: 90px;
    margin-top: -60px;
    -o-object-fit: cover;
    object-fit: cover;

    @media (max-width: 576px) {
        margin-top: -30px;
    }
}

.movieadvertisementimg {
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
}

.head-text {
    font-size: 40px;

    @media (max-width: 1280px) {
        font-size: 34px;
    }

    @media (max-width: 768px) {
        line-height: 40px;
        font-size: 30px;
    }

    @media (max-width: 576px) {
        font-size: 20px;
    }
}

.sidebar-lookingfilm {
    @media (max-width: 768px) {
        .book-an-actor {
            order: 2;
        }

        .swiper-section {
            order: 1;
        }
    }
}

.mySwiper {
    border-radius: 10px;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0 !important;
}

.search-bar {
    .fi-search.posi {
        position: absolute;
        right: 20PX;
    }

    .recent-search-dropdown {
        // position-absolute w-100 left-0 top-100 mt-2 rounded
        position: absolute;
        width: 100%;

        display: flex;
        flex-direction: column;
        z-index: 99;
        background: #f5f7f8;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        cursor: pointer;
        overflow: hidden;

        li {
            &:hover {
                background-color: #4ea2cc;
                color: white;

                .icon {
                    color: white;
                    pointer-events: none;
                }
            }
        }

    }
}