.wallet-card {
    .transaction-row>div {
        flex: 1 0 0;
    }

    @media (max-width: 768px) {
        p {
            font-size: 12px;
        }

        .icon-wrapper {
            width: 20px;
        }
    }

}