

.home-page {
    .home-logo {
        width: 90px;
    }

    .textblack {
        color: #184765;
    }

    .icons {
        width: 20px;
        height: 20px;
    }

    .make-a-film {
        padding: 25px 10px;
        border-radius: 16px;
        margin-top: 20px;
        padding-bottom: 0;
        margin-bottom: 60px;

        h1 {
            font-size: 28px;
        }
    }

    .cousem-under-line {
        border-bottom: 1px solid $under-line-gr;
    }

    .film-reel {
        img {
            margin-bottom: -60px;
        }
    }

    .star-icon {
        width: 25px;
    }
}

////////////css mahesh

.signupsigninbutton:hover {
    background-color: rgb(226, 226, 226);
}

.LeftArrowsignup {
    display: none;
}

@media (max-width: 1200px) {
    .headersubmenu {
        display: none;
    }
}

@media (max-width: 992px) {
    .signupsignin {
        display: none;
    }

    .LeftArrowsignup {
        display: block;
    }

    .usericonbutton {
        width: 16px;
    }

    .signupsigninbutton {
        border: none !important;
    }

    .signupsigninbutton:hover {
        background-color: transparent;
    }
}