.otp-page {
    .edit-icon {
        width: 28px;
    }
    .otp-control {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        border: transparent;
        font-size: 14px;
        border-radius: 8px;
        box-shadow: 0 0 10px $shadow-color;
        &:focus {
            color: #212529;
            background-color: #fff;
            border: transparent;
            outline: 0;
            box-shadow: 0 0 10px $shadow-color;
        }
    }
}