.sign-page {
    .sign-logo {
        width: 100px;
    }
    .sign-right-arrow {
        width: 30px;
        height: 30px;
    }
    .sign-head-text {
        .sign-head {
            font-size: 26px;
            margin-bottom: 10px;
        }
        .sign-text {
            font-size: 14px;
        }
    }
    .login-sec {
        margin-bottom: 40px;
    }
    .plus-inputs {
        padding: 10px 15px;
        .phone-start-number {
            padding: 5px 0;
            padding-right: 10px;
            border-right: 1px solid $lite-gray;
        }
        .input-pass-p {
            padding: 5px;
            padding-left: 10px;
        }
    }

}

.sign-input {
    margin-bottom: 10px;
    .input-error {
        display: none;
    }
}

.input-error{
    text-transform: capitalize;
}

.error-inputs {
    .form-control {
        border: 1px solid $red !important;
    }
    .input-error {
        display: flex !important;
        color: $red;
        .error-icon {
            width: 24px;
            height: 24px;
        }
    }
}

.bgimg img{
    width: 100%;
    height: 100%;
}

.bgimg{
    background-color:#DDF1F5;
    // width: 100%;
    height: 100vh;  
}

.filmdashborad{
    height: 100vh;

    
}

.formContainer{
    iframe{
        .app-main{

            color: red !important;
        }
    }
}