// Color
$red: #fc3e3e;
$dark-orange: #fc4e00;
$navy-blue: #427cc3;
$dark-blue: #1a3556;
$dark-gray: #526276;
$lite-gray: #dee4eb;
$lite-white: #f5f7f8;
$light-pink: #ffe2ed;
$light-green: #d8ebe3;
$light-brown: #a79383;
$light-yellow: #edc380;
$light-blue: #8fbde3;
$mint-green: #91a768;
$gray: #8792a0;
$under-line-gr: #9ec7d0;
$under-line-gray: #e9f2eb;
$white: #fff;
$lite-skyblue: #ddf1f5;
$green: #31ad76;
$extra-lite-green: #eafcf4;
$extra-lite-green-perot: #f1fcea;
$extra-lite-orange: #ffede2;
$extra-lite-skyblue: #ebfafd;
$extra-lite-blue: #e5e9fa;
$extra-lite-red: #fce8e8;
$extra-lite-purple: #f5e2ff;
$shadow-color: rgba(#1a3556, 0.1);
$focus-shadow-color: rgba(#1a3556, 0.2);
$lite-green: #eafcf4;

:export {
    darkOrange: $dark-orange;
}
